pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers #pip install --force --no-deps git+https://github.com/UKPLab/sentence-transformers.git
faiss_cpu
chainlit
duckdb
chromadb
langchain
